*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-color: aquamarine;
  font-family:'Courier New', Courier, monospace;
}

#title {
text-align: center;
font-size: 45px;

}

#form {
  text-align: center;
 
  width: 500px;
  height: 200px;
  margin: 50px auto;
}

.box {
  width: 150px;
  height: 40px;
  margin: 10px;
  padding-left: 10px;

  background: transparent;
    border-radius: 6px;
    border: 2px solid rgb(79, 182, 85);
}

.box:focus {
  border-radius: 6px;
    border: 2px solid rgb(79, 182, 85);
}

#submit {
  margin: auto;
  display: block;
  border: 2px solid rgb(79, 182, 85);
  background: transparent;
  border-radius: 6px;
  width: 300px;
  height: 40px;
}
#submit:hover {
  cursor:pointer;
}